$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1068px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.visible-pc {
  h2 {
    font-size: 14px;
    font-weight: 400;
  }
  header{
    width: 100%;
    background-color: $white;
    .pc-header__inner{
      @include mq(sm){
        width: 380px;
        margin: 0 auto;
        padding: 8px 0 0;
        border-style: solid;
        border-width: 0;
      }
      @include mq(md){
        width: 700px;
        margin: 0 auto;
        padding: 8px 0 0;
        border-style: solid;
        border-width: 0;
      }
      @include mq(lg) {
        width: 1020px;
        margin: 0 auto;
        padding: 8px 0 0;
        border-style: solid;
        border-width: 0;
      }
      &__upper{
        &__logo{
          margin: 0;
          float: left;
          vertical-align: middle;
        }
        &__form{
          float: right;
          position: relative;
          width: calc(100% - (134px + 16px));
          height: 43px;
          &__input{
            margin: 0;
            height: 36px;
            width: 100%;
            padding: 9px 32px 9px 8px;
            background: #fafafa;
            font-size: 16px;
            outline: 0;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          .fa-search{
            color: gray;
            display: inline;
            height:36px;
            line-height:38px;
            position:absolute;
            right:0px;
            text-align:center;
            top:0px;
            width:36px;
            z-index:1;
          }
        }
      }
      &__bottom{
        &__l-left{
          float: left;
          .search-menu{
            line-height: 46px;
            font-size: 14px;
            &__list{
              display: inline-block;
              &__text{
                text-decoration: none;
                color: $black;
                height: 38px;
                line-height: 32px;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all  0.1s ease;
              }
              &__text:hover{
                color: $light_blue;
              }
            }
            .brand{
              margin-left: 10px;
            }
          }
        }
        &__l-right{
          float: right;
          height: 46px;
          .sign_menu{
          margin-top: 13px;
          .post{
            font-size:14px;
            font-weight: normal;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: $black;
            text-decoration: none;
            border-radius: 4px;
            padding: 8px;
            margin-right: 7px;
          }
          .get{
            font-size: 14px;
            font-weight: normal;
            border: 1px solid #0099e8;
            background: $white;
            color: #0099e8;
            text-decoration: none;
            border-radius: 4px;
            padding: 8px;
          }}
          .personal-menu{
            &__list{
              display: inline-block;
              margin-left:17px;
              font-size: 14px;
              line-height: 46px;
              &__mypage-link{
                text-decoration: none;
                color: $black;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all  0.1s ease;
                .mypage-avator{
                  vertical-align: middle;
                  margin-right: 5px;
                  border-radius: 16px;
                }
              }
              &__mypage-link:hover{
                color: $light_blue;
              }
              a {
                text-decoration: none;
                color: $black;
              }
              a:hover {
                color: $light_blue;
              }
              &__notification-link{
                text-decoration: none;
                color: $black;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all  0.1s ease;
                .icon-bell{
                  margin-right: 5px;
                }
              }
              &__notification-link:hover{
                color: $light_blue;
              }
              &__todo-link{
                text-decoration: none;
                color: $black;
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all  0.1s ease;
                .icon-check{
                  margin-right: 5px;
                }
              }
              &__todo-link:hover{
                color: $light_blue;
              }
            }
          }
          .pc-header__login__nav {
            li {
              display: inline-block;
              margin: 0 0 0 8px;
              &:first-child {
                margin: 0;
              }
            }
            .sp-header__btn {
              border-radius: 4px;
              text-align: center;
              margin: 0;
              padding: 0 10px;
              line-height: 30px;
            }
            .btn--red {
              display: block;
              background-color: $red;
              border: 1px solid $red;
              color: $white;
            }
            .header-signup {
              display: block;
              border: 1px solid #0099e8;
              background-color: $white;
              color: #0099e8;
            }
          }
        }
      }
    }
  }
}

.search-button {
  padding: 0;
}
