.single-footer
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      %li
        = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      %li
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
  %a.single-footer-logo{href:"https://www.mercari.com/jp/"}
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?110229100", alt: "mercari", width:"80", height:"65"
  %p
    %small © 2018 Mercari
