.sell-btn{
  position:fixed;
  bottom:-14px;
  right:-14px;
  z-index:1000;
  width:80px;
  height:80px;
  border-radius:50%;
  background:#ea352d;
  color:$white;
  text-align:center;
  text-decoration:none;
}
.sell-btn div{
  margin:14px 0 0;
}
.sell-btn .fa-camera{
  margin:4px 0 0;
  font-size:24px;
}
@media screen and (min-width: 768px){
  .sell-btn{
    bottom:32px;
    right:32px;
    width:160px;
    height:160px;
    font-size:22px;
  }
  .sell-btn div{
    margin:32px 0 0;
  }
  .sell-btn:hover{
    opacity:1;
    text-decoration:none;
  }
  .sell-btn .fa-camera{
    margin:8px 0 0;
    font-size:54px;
  }
}
